body {
    background-image: url("noah-silliman-i2J9jnvaAbU-unsplash.jpg");

}
h1 {
    color:goldenrod;
}

.container{
    display:grid;
    grid-template-areas:
    '. header .'
    'listsuggestions additionalsuggestions .';

}
.header{
    grid-area:header;
    text-align: center;
}
.listsuggestions{
    grid-area:listsuggestions;
}
.additionalsuggestions{
    grid-area:additionalsuggestions;
}